.error{
    background-color: rgba(255, 0, 0, 0.199);
    border-radius: 4px;
    padding: 1px 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.display-linebreak {
    white-space: pre-line;
  }

.input-groups{
    margin-bottom: 10px !important;
    font-family: monospace !important;
    font-weight: normal !important
  }
.heading-signup{
    font-family: monospace !important;
}
.button-signup{
  margin: 10px 0px 5px 0px  !important;
}